<!DOCTYPE html>
	<head>
				<TITLE>Design Well</TITLE>
		<%= favicon_link_tag 'favicon.ico' %>
		<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<style type="text/css">
  			#container{
    			background: url(<%= randomized_background_image %>);
    			/*width: 100%;
				background-size: 100%; */
  				}
		</style>
		<div id='container'>
			<div class='sidebar'>

				<%= image_tag "logo.jpg", {:id => 'logo', :alt => 'Design Well', :title => 'Design Well Logo'} %>

				<nav id='links'>
					<div class='category'>
						<h1 class='nav-button'id='motion'>motion</h1>
						<div class='sub-menu'>
							<h2 class='sub-cat' id='titles-button'>titles</h2>
							<h2 class='sub-cat' id='animation-button'>animation</h2>
							<h2 class='sub-cat' id='montage-button'>montage</h2>
						</div>
					</div>
					<div class='category'>		
						<h1 class='nav-button'id='print'>print</h1>
						<div class='sub-menu'>
							<h2 class='sub-cat'>posters</h2>
							<h2 class='sub-cat'>packaging</h2>
							<h2 class='sub-cat'>collateral</h2>
						</div>
					</div>
					<div class='category'>
						<h1 class='nav-button'id='about'>about us</h1>
						<div class='sub-menu'>
							<h2 class='sub-cat'>blog</h2>
							<h2 class='sub-cat'>staff</h2>
							<h2 class='sub-cat'>clients</h2>
							<h2 class='sub-cat'>affiliations</h2>
						</div>
					</div>
					<div class='category'>
						<h1 class='nav-button'id='reel'>reel</h1>
					</div>
					<div class='category'>
						<h1 class='nav-button'id='contact'>contact</h1>
					</div>
				</nav>
			</div>

			<div id='stage'>

				<div id='motion-container'>

					<div class='playback'>
						<iframe src="http://player.vimeo.com/video/<%= @title.first["id"] %>"
							width="784" height="441" style="border: 0px;" 
							webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
						</iframe>
					</div>

					<div class='words'>
						<h3><%= @title.first["title"]%></h3>
						<p>Joe has worked as a visual storyteller for 30 years, in print as art director, editor and journalist, and on screen as writer, director, and animator.</p>
					</div>

					<div class='video-container'>

						<div class='video-category' id='titles'>
							<a href=# class ='nav-arrow-left' id='titles-next'></a>
							<div class="videos">
								<div class='cycle-slideshow'
								data-cycle-fx=carousel
								data-cycle-carousel-visible=3
								data-cycle-slides=".thumbnail"
								data-cycle-timeout=0
								data-cycle-next="#titles-next"
								data-cycle-prev="#titles-prev">
								<div class="cycle-pager"></div>

								<% @title.each do |clip| %>
									<%= image_tag clip["thumbnail_large"], {:class => "thumbnail", :id => clip["id"], :description => clip["description"], :title => clip["title"], :alt => clip["title"]}%>
								<% end %>
								</div>
							</div>
							<a href=# class ='nav-arrow-right' id='titles-prev'></a>
						</div>
					
						<div class='video-category' id='montage'>
							<a href=# class ='nav-arrow-left' id='montage-next'></a>
							<div class="videos">
								<div class='cycle-slideshow'
								data-cycle-fx=carousel
								data-cycle-carousel-visible=3
								data-cycle-slides=".thumbnail"
								data-cycle-timeout=0
								data-cycle-next="#montage-next"
								data-cycle-prev="#montage-prev">
								<div class="cycle-pager"></div>

								<% @montage.each do |clip| %>
									<%= image_tag clip["thumbnail_large"], {:class => "thumbnail", :id => clip["id"], :description => clip["description"], :title => clip["title"], :alt => clip["title"]}%>
								<% end %>
								</div>
							</div>
							<a href=# class ='nav-arrow-right' id='montage-prev'></a>
						</div>

						<div class='video-category' id='animation'>
							<a href=# class ='nav-arrow-left' id='animation-next'></a>
							<div class="videos">
								<div class='cycle-slideshow'
									data-cycle-fx=carousel
									data-cycle-carousel-visible=3
									data-cycle-slides=".thumbnail"
									data-cycle-timeout=0
									data-cycle-next="#animation-next"
									data-cycle-prev="#animation-prev">
									<div class="cycle-pager"></div>

									<% @animation.each do |clip| %>
										<%= image_tag clip["thumbnail_large"], {:class => "thumbnail", :id => clip["id"], :description => clip["description"], :title => clip["title"], :alt => clip["title"]}%>
									<% end %>
								</div>
								<a href=# class ='nav-arrow-right' id='animation-prev'></a>
							</div>
						</div>
					</div>
				</div>

				<div id='print-container'>
					<div class='photo-stage'>

						
						<% @collateral.photo{}.each do |photo| %>
							<%= image_tag FlickRaw.url_m(photo), {:class => "thumbnail", :id => photo["id"], :description => photo["description"], :title => photo["title"], :alt => photo["title"]}%>
						<% end %>
							
						
							
						
					
						
						
						
					</div>	
				</div>		
			</div>
		</div>

		

		<script>
      		$(function(){
        		$('#titles-button').click(function(){
          			$('#titles, #animation, #montage').fadeOut(300);
          			$('#titles').delay(300).fadeIn(600);
        		});
				$('#animation-button').click(function(){
          			$('#titles, #animation, #montage').fadeOut(300);
          			$('#animation').delay(300).fadeIn(600);
        		});
        		$('#montage-button').click(function(){
          			$('#titles, #animation, #montage').fadeOut(300);
          			$('#montage').delay(300).fadeIn(600);
        		});
      		});
    	</script>
		
	</body>
</html>


