<!DOCTYPE html>
	<head>
				<TITLE>Design Well</TITLE>
		<%= favicon_link_tag 'favicon.ico' %>
		<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<style type="text/css">
  			html{
    			background: url(<%= randomized_background_image %>) no-repeat center center fixed;
    			width: 100%;
				background-size: 100%; 
  				}
		</style>
		<div class="container">
		<div class='sidebar'>
			<%= image_tag "logo.jpg", {:id => 'logo', :alt => 'Design Well', :title => 'Design Well Logo'} %>

			<nav id='links'>
				<div class='category'>
					<h1 class='nav-button'id='moving'>motion</h1>
					<div class='sub-menu'>
						<h2 class='sub-cat'>titles</h2>
						<h2 class='sub-cat'>animation</h2>
						<h2 class='sub-cat'>montage</h2>
					</div>
				</div>
				<div class='category'>		
					<h1 class='nav-button'id='print'>print</h1>
					<div class='sub-menu'>
						<h2 class='sub-cat'>posters</h2>
						<h2 class='sub-cat'>packaging</h2>
						<h2 class='sub-cat'>collateral</h2>
					</div>
				</div>
				<div class='category'>
					<h1 class='nav-button'id='about'>about us</h1>
					<div class='sub-menu'>
						<h2 class='sub-cat'>dWELL blog</h2>
						<h2 class='sub-cat'>staff</h2>
						<h2 class='sub-cat'>clients</h2>
						<h2 class='sub-cat'>affiliations</h2>
					</div>
				</div>
				<div class='category'>
					<h1 class='nav-button'id='reel'>reel</h1>
				</div>
				<div class='category'>
					<h1 class='nav-button'id='contact'>contact</h1>
				</div>
			</nav>
		</div>

		<div id='stage'>
			<div class='playback'>
				<iframe src="http://player.vimeo.com/video/<%= @title.first["id"] %>"
						width="720" height="405" style="border: 0px;" 
						webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
				</iframe>
			</div>
			<div class='words'>
				<p>Joe has worked as a visual storyteller for 30 years, in print as art director, editor and journalist, and on screen as writer, director, and animator.</p>
			</div>
			<!-- <div class= 'center'>
     
			</div> -->
			<div class='videos-container'>
			<a href=# class ='nav-arrow' id= 'prev'><%= image_tag 'left.png'%></a>
			
			<div class="videos">
			
			<!-- <%= link_to (image_tag "left.png"), {:target => '_blank', :class =>'left', :id =>'prev'} %> -->
			<div class='cycle-slideshow'
				data-cycle-fx=carousel
				data-cycle-carousel-visible=3
				data-cycle-slides=".thumbnail"
    			data-cycle-timeout=0
    			data-cycle-next="#next"
    			data-cycle-prev="#prev">
					<% @title.each do |clip| %>
							<%= image_tag clip["thumbnail_large"], {:class => 'thumbnail', :id => clip["id"], :description => clip["description"]}%>
							<!-- <div class='title'><h3><%= clip["title"] %></h3></div> -->
					<% end %>
			</div>
			</div>
				<a href=# class ='nav-arrow' id='next'><%= image_tag 'right.png'%></a>
			
			</div>
		</div>
		<!-- <div class='cycle-slideshow' 
				data-cycle-slides='img'
				data-cycle-speed='1000'
				data-cycle-fx='scrollHorz' >
				<%= image_tag "splash1.jpg", {:class => 'splash first'} %>
				<%= image_tag "splash2.jpg", {:class => 'splash'} %>
				<%= image_tag "splash3.jpg", {:class => 'splash'} %>
			</div> -->
		
		</div>
	</body>
</html>