<!DOCTYPE html>
	<head>
		<TITLE>Design Well</TITLE>
		<%= favicon_link_tag 'favicon.ico' %>
		<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<style type="text/css">
  			#container{background: url(<%= randomized_background_image %>); background-size: 100%;}
		</style>

		<div id='container'>
			<div class='sidebar'>

				<%= image_tag "logo.jpg",:id => 'logo', :alt => 'Design Well'%>

				<nav id='links'>
					<div class='category'>
						<h1 class='nav-button motion'>motion</h1>
						<div class='sub-menu'>
							<h2 class='sub-cat titles-button'>titles</h2>
							<h2 class='sub-cat animation-button'>animation</h2>
							<h2 class='sub-cat montage-button'>montage</h2>
						</div>
					</div>
					<div class='category'>		
						<h1 class='nav-button print'>print</h1>
						<div class='sub-menu'>
							<h2 class='sub-cat posters-button'>posters</h2>
							<h2 class='sub-cat packaging-button'>packaging</h2>
							<h2 class='sub-cat collateral-button'>collateral</h2>
						</div>
					</div>
					<div class='category'>
						<h1 class='nav-button about'>about us</h1>
						<div class='sub-menu'>
							<h2 class='sub-cat blog-button'>blog</h2>
							<h2 class='sub-cat staff-button'>staff</h2>
							<h2 class='sub-cat clients-button'>clients</h2>
							<h2 class='sub-cat affiliations-button'>affiliations</h2>
						</div>
					</div>
					<div class='category'>
						<h1 class='nav-button reel'>reel</h1>
					</div>
					<div class='category'>
						<h1 class='nav-button contact'>contact</h1>
					</div>
				</nav>
				<nav id='social'>
						<%=link_to image_tag('facebook.png', :class =>'social-button', :alt => "Designwell Facebook"), "https://www.facebook.com/pages/Designwell/312746815515386", :target => "_blank"  %>
						<%=link_to image_tag('meetup.png', :class =>'social-button', :alt => "Documentary Filmmakers' Collective"), "http://www.meetup.com/Documentary-Filmmaker-Collective/events/171960672/", :target => "_blank"  %>
						<%=link_to image_tag('google.png', :class =>'social-button', :alt => 'Designwell Google+'), "https://plus.google.com/u/0/110719905620721134053/plusones", :target => "_blank"  %>
						<%=link_to image_tag('vimeo.png', :class =>'social-button', :alt => 'Designwell Vimeo'), "https://vimeo.com/designwell", :target => "_blank"  %>
						<%=link_to image_tag('youtube.png', :class =>'social-button', :alt => 'Designwell Youtube'), "https://www.youtube.com/channel/UCpR1l6w9Ghk7WZ-54YHRd2A/feed", :target => "_blank"  %>
						<%=link_to image_tag('imdb.png', :class =>'social-button', :alt => 'Designwell IMDB'), "http://www.imdb.com/name/nm3379200/?ref_=fn_al_nm_1", :target => "_blank"  %>
					</nav>

			</div>
			<div id="splash-container">
				<div class="splash-box">
				<div class="cycle-slideshow"
    				data-cycle-fx="scrollHorz"
    				data-cycle-pause-on-hover="true"
    				data-cycle-slides=".splash"
    				data-cycle-pager-template="<span></span>"
    				data-cycle-speed="200">
    				<div class="cycle-pager"></div>
    				<% @splash.photo{}.each do |photo| %>
    					<div class="splash" >
						<%= image_tag FlickRaw.url_b(photo), {:class => photo["title"], :id => photo["id"], :alt => flickr.photos.getInfo(:photo_id => photo["id"]).description}%>
						</div>
						<% end %>
				</div>
				</div>
			</div>

			<div id='motion-container'>
				<div class='category-title'>
					<div class="motion-title">
						<h3><%= @title.first["title"]%></h3>
					</div>
				</div>
				<div class='playback'>
					<iframe id="nowPlaying" src="http://player.vimeo.com/video/<%= @title.first["id"] %>"
						width="768" height="432" style="border: 0px;" 
						webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
					</iframe>
				</div>

				<div class='words'>
					<div class="video-brief">
						<p><%= @title.first["description"] %></p>
					</div>
				</div>

				<div class='thumbs-container'>

					<div class='thumbs-category' id='titles'>
						<a href=# class ='nav-arrow-left' id='titles-prev'></a>
						<div class="thumbs">
							<div class='cycle-slideshow'
							data-cycle-fx=carousel
							data-cycle-carousel-visible=3
							data-cycle-slides=".thumbnail"
							data-cycle-timeout=0
							data-cycle-pager-template="<span></span>"
							data-cycle-next="#titles-next"
							data-cycle-prev="#titles-prev">
								<div class="cycle-pager"></div>

								<% @title.each do |clip| %>
									<div class="thumbnail">
										<%= image_tag clip["thumbnail_large"], {:id => clip["id"], :description => clip["description"], :title => clip["title"], :alt => clip["title"]}%>
										<h4 class="overlay"><%=clip["title"]%></h4>
									</div>
								<% end %>
							</div>
						</div>
						<a href=# class ='nav-arrow-right' id='titles-next'></a>
					</div>

					<div class='thumbs-category' id='montage'>
						<a href=# class ='nav-arrow-left' id='montage-prev'></a>
						<div class="thumbs">
							<div class='cycle-slideshow'
							data-cycle-fx=carousel
							data-cycle-carousel-visible=3
							data-cycle-slides=".thumbnail"
							data-cycle-timeout=0
							data-cycle-pager-template="<span></span>"
							data-cycle-next="#montage-next"
							data-cycle-prev="#montage-prev">
								<div class="cycle-pager"></div>

								<% @montage.each do |clip| %>
									<div class="thumbnail">
										<%= image_tag clip["thumbnail_large"], {:id => clip["id"], :description => clip["description"], :title => clip["title"], :alt => clip["title"]}%>
										<h4 class="overlay"><%=clip["title"]%></h4>
									</div>
								<% end %>
							</div>
						</div>
						<a href=# class ='nav-arrow-right' id='montage-next'></a>
					</div>

					<div class='thumbs-category' id='animation'>
						<a href=# class ='nav-arrow-left' id='animation-prev'></a>
						<div class="thumbs">
							<div class='cycle-slideshow'
							data-cycle-fx=carousel
							data-cycle-carousel-visible=3
							data-cycle-slides=".thumbnail"
							data-cycle-timeout=0
							data-cycle-pager-template="<span></span>"
							data-cycle-next="#animation-next"
							data-cycle-prev="#animation-prev">
								<div class="cycle-pager"></div>

								<% @animation.each do |clip| %>
									<div class="thumbnail">
										<%= image_tag clip["thumbnail_large"], {:id => clip["id"], :description => clip["description"], :title => clip["title"], :alt => clip["title"]}%>
										<h4 class="overlay"><%=clip["title"]%></h4>
									</div>
								<% end %>
							</div>
						</div>
						<a href=# class ='nav-arrow-right' id='animation-next'></a>
					</div>
				</div>
			</div>
			<div id="about-container">
				<div class="staff-container" id="staff">
					<div class='category-title'>
						<div class="title-box">
							<h3>Meet some of the team at designWELL</h3>
						</div>
					</div>
					<div class="employee-box">
						<%= image_tag "joe_sikoryak.jpg", :class => "employee-photo",:alt => "Joe Sikoryak (creative director)" %>
						<h3 class="employee-name">Joe Sikoryak (creative director)</h3>
						<p class="employee-bio">...has roots in NYC but lives in San Francisco, with a sensibility that spans east and west coasts, as well as traditional and digital media. His career began in journalism and graphic design, but moving pictures remain his passion. A graduate of SFSU with a BA in animation, he has directed several short films and contributed to many more. He also moderates the Documentary Filmmakers' Collective, a group formed in 2013.
					</div>
					<div class="employee-box">
						<%= image_tag "kay_marshall.jpg", :class => "employee-photo",:alt => "Kay Marshall (graphic designer)" %>
						<h3 class="employee-name">Kay Marshall (graphic designer)</h3>
						<p class="employee-bio">...has worked for a variety of businesses and non-profits as an independent as well as a corporate art director. Her specialties include print and digital publications such as magazines, books, catalogs and media kits. She has a fine arts degree from the University of Wisconsin, Madison and continues to produce monoprints and abstract paintings in her home studio.
					</div>
					<div class="employee-box">
						<%= image_tag "frank_dewald.jpg", :class => "employee-photo",:alt => "Frank DeWald (editorial consultant)" %>
						<h3 class="employee-name">Frank DeWald (editorial consultant)</h3>
						<p class="employee-bio">... is a choral conductor, composer and former educator who has devoted himself to working as a writer, copyeditor and proofreader in the music industry. He’s thus been able to build on a love for films and their music that started in his pre-teen years and has grown (along with his recording collection!) ever since.
					</div>
					
				</div>
				<div class="affiliation-container" id="affiliations">
					<div class="affiliations-container" id="affiliations">
						<div class='category-title'>
							<div class="title-box">
								<h3>Affiliations</h3>
							</div>
						</div>
						
					
					</div>
				</div>
			</div>
		</div>
			

				<script type="text/javascript">
					$.ajax({
				    url: "/print",
				    cache: false,
				    success: function(html){$("#container").append(html)}
					});
				</script>

			


	</body>
</html>


