<!DOCTYPE html>
	<head>
		<TITLE>Design Well</TITLE>
		<%= favicon_link_tag 'favicon.ico' %>
		<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<style type="text/css">
  			#container{background: url(<%= randomized_background_image %>); background-size: 100%;}
		</style>

		<div id='container'>
			<div class='sidebar'>

				<%= link_to image_tag("logo.jpg",:id => 'logo', :alt => 'Design Well'), "http://www.designwell.com", :target => "_blank" %>

				<nav id='links'>
					<div class='category'>
						<h1 class='nav-button motion'>motion</h1>
						<div class='sub-menu'>
							<h2 class='sub-cat titles-button'>titles</h2>
							<h2 class='sub-cat animation-button'>animation</h2>
							<h2 class='sub-cat montage-button'>montage</h2>
						</div>
					</div>
					<div class='category'>		
						<h1 class='nav-button print'>print</h1>
						<div class='sub-menu'>
							<h2 class='sub-cat posters-button'>posters</h2>
							<h2 class='sub-cat packaging-button'>packaging</h2>
							<h2 class='sub-cat collateral-button'>collateral</h2>
						</div>
					</div>
					<div class='category'>
						<h1 class='nav-button about'>about us</h1>
						<div class='sub-menu'>
							<h2 class='sub-cat blog-button'>blog</h2>
							<h2 class='sub-cat staff-button'>staff</h2>
							<h2 class='sub-cat clients-button'>clients</h2>
							<h2 class='sub-cat affiliations-button'>affiliations</h2>
						</div>
					</div>
					<div class='category'>
						<h1 class='nav-button reel reel-button'>reel</h1>
					</div>
					<div class='category'>
						<h1 class='nav-button contact'>contact</h1>
					</div>
				</nav>
				<nav id='social'>
						<%=link_to image_tag('facebook.png', :class =>'social-button', :alt => "Designwell Facebook"), "https://www.facebook.com/pages/Designwell/312746815515386", :target => "_blank"  %>
						<%=link_to image_tag('meetup.png', :class =>'social-button', :alt => "Documentary Filmmakers' Collective"), "http://www.meetup.com/Documentary-Filmmaker-Collective/events/171960672/", :target => "_blank"  %>
						<%=link_to image_tag('google.png', :class =>'social-button', :alt => 'Designwell Google+'), "https://plus.google.com/u/0/110719905620721134053/plusones", :target => "_blank"  %>
						<%=link_to image_tag('vimeo.png', :class =>'social-button', :alt => 'Designwell Vimeo'), "https://vimeo.com/designwell", :target => "_blank"  %>
						<%=link_to image_tag('youtube.png', :class =>'social-button', :alt => 'Designwell Youtube'), "https://www.youtube.com/channel/UCpR1l6w9Ghk7WZ-54YHRd2A/feed", :target => "_blank"  %>
						<%=link_to image_tag('imdb.png', :class =>'social-button', :alt => 'Designwell IMDB'), "http://www.imdb.com/name/nm3379200/?ref_=fn_al_nm_1", :target => "_blank"  %>
					</nav>

			</div>
			<div id="splash-container">
				<div class="splash-box">
					<div class="cycle-slideshow"
    					data-cycle-fx="scrollHorz"
    					data-cycle-pause-on-hover="true"
    					data-cycle-slides=".splash"
    					data-cycle-pager=".splash-pager"
    					data-cycle-pager-template="<span></span>"
    					data-cycle-speed="200">
    					<div class="cycle-pager"></div>
    					<% @splash.photo{}.each do |photo| %>
    						<div class="splash" >
							<%= image_tag FlickRaw.url_b(photo), {:class => photo["title"], :id => photo["id"], :alt => flickr.photos.getInfo(:photo_id => photo["id"]).description}%>
							</div>
						<% end %>
					</div>
					<div class='words'>
						<div class="splash-brief">
							<h3>Graphics for moving pictures</h3>
						</div>
					</div>
					<div class="splash-pager"></div>
				</div>
			</div>

			<div id='motion-container'>
				<div class='category-title'>
					<div class="motion-title">
						<h3><%= @titleInfo["name"] %></h3>
					</div>
				</div>
				<div class='playback'>
					<iframe id="nowPlaying" src="http://player.vimeo.com/video/<%= @title.first["id"] %>"
						width="768" height="432" style="border: 0px;" 
						webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
					</iframe>
					<div class="choiceText motionOverlay"><h5>Select a category of motion graphics to see examples</h5></div>
				</div>

				<div class='words'>
					<div class="video-brief">
						<p><%= @titleInfo["description"] %></p>
					</div>
				</div>

				<div class='thumbs-container'>

					<div class='thumbs-category' id='titles'>
						<a href=# class ='nav-arrow-left' id='titles-prev'></a>
						<div class="thumbs">
							<div class='cycle-slideshow'
							data-cycle-fx=carousel
							data-cycle-carousel-visible=3
							data-cycle-slides=".thumbnail"
							data-cycle-timeout=0
							data-cycle-pager-template="<span></span>"
							data-cycle-next="#titles-next"
							data-cycle-prev="#titles-prev">
								<div class="cycle-pager"></div>

								<% @title.each do |clip| %>
									<div class="thumbnail">
										<%= image_tag clip["thumbnail_large"], {:id => clip["id"], :description => clip["description"], :title => clip["title"], :alt => clip["title"]}%>
										<h4 class="overlay"><%=clip["title"]%></h4>
									</div>
								<% end %>
							</div>
						</div>
						<a href=# class ='nav-arrow-right' id='titles-next'></a>
					</div>

					<div class='thumbs-category' id='montage'>
						<a href=# class ='nav-arrow-left' id='montage-prev'></a>
						<div class="thumbs">
							<div class='cycle-slideshow'
							data-cycle-fx=carousel
							data-cycle-carousel-visible=3
							data-cycle-slides=".thumbnail"
							data-cycle-timeout=0
							data-cycle-pager-template="<span></span>"
							data-cycle-next="#montage-next"
							data-cycle-prev="#montage-prev">
								<div class="cycle-pager"></div>

								<% @montage.each do |clip| %>
									<div class="thumbnail">
										<%= image_tag clip["thumbnail_large"], {:id => clip["id"], :description => clip["description"], :title => clip["title"], :alt => clip["title"]}%>
										<h4 class="overlay"><%=clip["title"]%></h4>
									</div>
								<% end %>
							</div>
						</div>
						<a href=# class ='nav-arrow-right' id='montage-next'></a>
					</div>

					<div class='thumbs-category' id='animation'>
						<a href=# class ='nav-arrow-left' id='animation-prev'></a>
						<div class="thumbs">
							<div class='cycle-slideshow'
							data-cycle-fx=carousel
							data-cycle-carousel-visible=3
							data-cycle-slides=".thumbnail"
							data-cycle-timeout=0
							data-cycle-pager-template="<span></span>"
							data-cycle-next="#animation-next"
							data-cycle-prev="#animation-prev">
								<div class="cycle-pager"></div>

								<% @animation.each do |clip| %>
									<div class="thumbnail">
										<%= image_tag clip["thumbnail_large"], {:id => clip["id"], :description => clip["description"], :title => clip["title"], :alt => clip["title"]}%>
										<h4 class="overlay"><%=clip["title"]%></h4>
									</div>
								<% end %>
							</div>
						</div>
						<a href=# class ='nav-arrow-right' id='animation-next'></a>
					</div>
				</div>
			</div>

			<div id="print-container">
				<div class='category-title'>
					<div class="print-title">
						<h3><%= @posterInfo["title"] %></h3>
					</div>
				</div>
				<div class='photo-stage'>
					<div class='dark-box'>
						<img src=" " style="max-height: 432px;"/>
					</div>
					<div class="choiceText printOverlay"><h5>Select a category of print graphics to see examples</h5></div>
				</div>

				<div class='words'>
					<div class="photo-brief">
						<p><%= @posterInfo.description%></p>
					</div>
				</div>

				<div class='thumbs-container'>

					<div class='thumbs-category' id='posters'>
						<a href=# class ='nav-arrow-left' id='posters-prev'></a>
						<div class="thumbs">
							<div class='slideshow'
							data-cycle-fx=carousel
							data-cycle-carousel-visible=3
							data-cycle-slides=".thumb-box"
							data-cycle-timeout=0
							data-cycle-pager-template="<span></span>"
							data-cycle-next="#posters-next"
							data-cycle-prev="#posters-prev">
								<div class="cycle-pager"></div>

								<% @poster.photo{}.each do |photo| %>
									<div class='thumb-box'>
										<%= image_tag FlickRaw.url_b(photo), {:class => "photo-thumb", :id => photo["id"],:title => photo["title"], :description => flickr.photos.getInfo(:photo_id => photo["id"]).description, :alt => photo["title"]}%>
										<h4 class="overlay"><%=photo["title"]%></h4>
									</div>
								<% end %>
							</div>
						</div>
						<a href=# class ='nav-arrow-right' id='posters-next'></a>
					</div>
					
					<div class='thumbs-category' id='packaging'>
						<a href=# class ='nav-arrow-left' id='packaging-prev'></a>
						<div class="thumbs">
							<div class='slideshow'
							data-cycle-fx=carousel
							data-cycle-carousel-visible=3
							data-cycle-slides=".thumb-box"
							data-cycle-timeout=0
							data-cycle-pager-template="<span></span>"
							data-cycle-next="#packaging-next"
							data-cycle-prev="#packaging-prev">
								<div class="cycle-pager"></div>

								<% @packaging.photo{}.each do |photo| %>
									<div class='thumb-box'>
										<%= image_tag FlickRaw.url_b(photo), {:class => "photo-thumb", :id => photo["id"],:title => photo["title"], :description => flickr.photos.getInfo(:photo_id => photo["id"]).description, :alt => photo["title"]}%>
										<h4 class="overlay"><%=photo["title"]%></h4>
									</div>
								<% end %>
							</div>
						</div>
						<a href=# class ='nav-arrow-right' id='packaging-next'></a>
					</div>

					<div class='thumbs-category' id='collateral'>
						<a href=# class ='nav-arrow-left' id='collateral-prev'></a>
						<div class="thumbs">
							<div class='slideshow'
							data-cycle-fx=carousel
							data-cycle-carousel-visible=3
							data-cycle-slides=".thumb-box"
							data-cycle-timeout=0
							data-cycle-pager-template="<span></span>"
							data-cycle-next="#collateral-next"
							data-cycle-prev="#collateral-prev">
								<div class="cycle-pager"></div>

								<% @collateral.photo{}.each do |photo| %>
									<div class='thumb-box'>
										<%= image_tag FlickRaw.url(photo), {:class => "photo-thumb", :id => photo["id"],:title => photo["title"], :description => flickr.photos.getInfo(:photo_id => photo["id"]).description, :alt => photo["title"]}%>
										<h4 class="overlay"><%=photo["title"]%></h4>
									</div>
								<% end %>
							</div>
						</div>
						<a href=# class ='nav-arrow-right' id='collateral-next'></a>
					</div>					
				</div>
			</div>
			<div id="reel-container">
				<div class="reel-box">
					<iframe src="http://player.vimeo.com/video/<%= @reel.first["id"] %>"
						width="768" height="432" style="border: 0px;" 
						webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
					</iframe>
				</div>
				<div class='words'>
					<div class="reel-brief">
						<h5 class="shit" description="<%= @reel.first["description"]%>"><%= @reel.first["description"].html_safe%></h5>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(".slideshow").cycle();

			$.ajax({
				    url: "/print",
				    cache: false,
				    success: function(html){$("#container").append(html)}
			});
			$(".titles-button").click(function(){
				$("div.motion-title h3").html("<%=@titleInfo['name']%>").nl2br();
				$("div.video-brief p").html("<%=@titleInfo['description']%>").html_safe.nl2br();
			});
			$(".animation-button").click(function(){
				$("div.motion-title h3").html("<%=@animationInfo['name']%>").nl2br();
				$("div.video-brief p").html("<%=@animationInfo['description']%>").html_safe.nl2br();
			});
			$(".montage-button").click(function(){
				$("div.motion-title h3").html("<%=@montageInfo['name']%>").nl2br();
				$("div.video-brief p").html("<%=@montageInfo['description']%>").html_safe.nl2br();
			});

			$(".packaging-button").click(function(){
				$("div.print-title h3").html("<%= @packagingInfo['title']%>").nl2br();
				$("div.photo-brief p").html("<%= @packagingInfo['description']%>").html_safe.nl2br();
			});
			$(".collateral-button").click(function(){
				$("div.print-title h3").html("<%= @collateralInfo['title']%>").nl2br();
				$("div.photo-brief p").html("<%= @collateralInfo['description']%>").html_safe.nl2br();
			});
    		$(".posters-button").click(function(){
				$("div.print-title h3").html("<%= @posterInfo['title']%>").nl2br();
				$("div.photo-brief p").html("<%= @posterInfo['description']%>").html_safe.nl2br();
			});

		</script>	
	</body>
</html>


