<!DOCTYPE html>
	<head>
		<TITLE>Design Well</TITLE>
		<%= favicon_link_tag 'favicon.ico' %>
		<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<style type="text/css">
  			#container{background: url(<%= randomized_background_image %>); background-size: 100%;}
		</style>

		<!-- <style type="text/css">
			.nav-arrow-left{
				width: 40px;
				height: 108px;
				background-image: url('left_sprite.png') ;
				margin-left: 5px;
				padding: 5px 0;
				float: left;
			}

			.nav-arrow-right{
				width: 40px;
				height: 108px;
				background-image: url('right_sprite.png');
				margin-right: 5px;
				padding: 5px 0;
				float: left;
			}
		</style> -->

		<div id='container'>
			<div class='sidebar'>

				<%= link_to image_tag("logo.jpg",:id => 'logo', :alt => 'Design Well'), "http://www.designwell.com" %>

				<nav id='links'>
					<div class='category'>
						<h1 class='nav-button motion'>motion</h1>
						<div class='sub-menu'>
							<h2 class='sub-cat titles-button'>titles</h2>
							<h2 class='sub-cat animation-button'>animation</h2>
							<h2 class='sub-cat montage-button'>montage</h2>
						</div>
					</div>
					<div class='category'>		
						<h1 class='nav-button print'>print</h1>
						<div class='sub-menu'>
							<h2 class='sub-cat posters-button'>posters</h2>
							<h2 class='sub-cat packaging-button'>packaging</h2>
							<h2 class='sub-cat collateral-button'>collateral</h2>
						</div>
					</div>
					<div class='category'>
						<h1 class='nav-button about'>about us</h1>
						<div class='sub-menu'>
							<h2 class='sub-cat blog-button'>blog</h2>
							<h2 class='sub-cat staff-button'>staff</h2>
							<h2 class='sub-cat clients-button'>clients</h2>
							<h2 class='sub-cat affiliations-button'>affiliations</h2>
						</div>
					</div>
					<div class='category'>
						<h1 class='nav-button reel reel-button'>reel</h1>
					</div>
					<div class='category'>
						<h1 class='nav-button contact contact-button'>contact</h1>
					</div>
				</nav>
				<nav id='social'>
						<%=link_to image_tag('facebook.png', :class =>'social-button', :alt => "Designwell Facebook"), "https://www.facebook.com/pages/Designwell/312746815515386", :target => "_blank"  %>
						<%=link_to image_tag('meetup.png', :class =>'social-button', :alt => "Documentary Filmmakers' Collective"), "http://www.meetup.com/Documentary-Filmmaker-Collective/events/171960672/", :target => "_blank"  %>
						<%=link_to image_tag('google.png', :class =>'social-button', :alt => 'Designwell Google+'), "https://plus.google.com/u/0/110719905620721134053/plusones", :target => "_blank"  %>
						<%=link_to image_tag('vimeo.png', :class =>'social-button', :alt => 'Designwell Vimeo'), "https://vimeo.com/designwell", :target => "_blank"  %>
						<%=link_to image_tag('youtube.png', :class =>'social-button', :alt => 'Designwell Youtube'), "https://www.youtube.com/channel/UCpR1l6w9Ghk7WZ-54YHRd2A/feed", :target => "_blank"  %>
						<%=link_to image_tag('imdb.png', :class =>'social-button', :alt => 'Designwell IMDB'), "http://www.imdb.com/name/nm3379200/?ref_=fn_al_nm_1", :target => "_blank"  %>
					</nav>

			</div>
			<div id="splash-container">
				<div class="splash-box">
					<div class="cycle-slideshow"
    					data-cycle-fx="scrollHorz"
    					data-cycle-pause-on-hover="true"
    					data-cycle-slides=".splash"
    					data-cycle-pager=".splash-pager"
    					data-cycle-pager-template="<span></span>"
    					data-cycle-speed="200">
    					<div class="cycle-pager"></div>
    					<% @splash.photo{}.each do |photo| %>
    						<div class="splash" >
							<%= image_tag FlickRaw.url_b(photo), {:class => photo["title"], :id => photo["id"], :alt => flickr.photos.getInfo(:photo_id => photo["id"]).description}%>
							</div>
						<% end %>
					</div>
					<div class='words'>
						<div class="splash-brief">
							<h3>graphics for moving pictures</h3>
						</div>
					</div>
					<div class="splash-pager"></div>
				</div>
			</div>

			<div id='motion-container'>
				<div class='category-title'>
					<div class="motion-title">
						<h3><%= @titleInfo["name"] %></h3>
					</div>
				</div>
				<div class='playback'>
					<iframe id="nowPlaying" src="http://player.vimeo.com/video/<%= @title.first["id"] %>"
						width="768" height="432" style="border: 0px;" 
						webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
					</iframe>
					<div class="choiceText motionOverlay"><h5>Select a category of motion graphics to see examples</h5></div>
				</div>

				<div class='words'>
					<div class="video-brief">
						<p><%= @titleInfo["description"] %></p>
					</div>
				</div>

				<div class='thumbs-container'>

					<div class='thumbs-category' id='titles'>
						<a href=# class ='nav-arrow-left' id='titles-prev'></a>
						<div class="thumbs">
							<div class='cycle-slideshow'
							data-cycle-fx=carousel
							data-cycle-carousel-visible=3
							data-cycle-slides=".thumbnail"
							data-cycle-timeout=0
							data-cycle-pager-template="<span></span>"
							data-cycle-next="#titles-next"
							data-cycle-prev="#titles-prev">
								<div class="cycle-pager"></div>

								<% @title.each do |clip| %>
									<div class="thumbnail">
										<%= image_tag clip["thumbnail_large"], {:id => clip["id"], :description => clip["description"], :title => clip["title"], :alt => clip["title"]}%>
										<h4 class="overlay"><%=clip["title"]%></h4>
									</div>
								<% end %>
							</div>
						</div>
						<a href=# class ='nav-arrow-right' id='titles-next'></a>
					</div>

					<div class='thumbs-category' id='montage'>
						<a href=# class ='nav-arrow-left' id='montage-prev'></a>
						<div class="thumbs">
							<div class='cycle-slideshow'
							data-cycle-fx=carousel
							data-cycle-carousel-visible=3
							data-cycle-slides=".thumbnail"
							data-cycle-timeout=0
							data-cycle-pager-template="<span></span>"
							data-cycle-next="#montage-next"
							data-cycle-prev="#montage-prev">
								<div class="cycle-pager"></div>

								<% @montage.each do |clip| %>
									<div class="thumbnail">
										<%= image_tag clip["thumbnail_large"], {:id => clip["id"], :description => clip["description"], :title => clip["title"], :alt => clip["title"]}%>
										<h4 class="overlay"><%=clip["title"]%></h4>
									</div>
								<% end %>
							</div>
						</div>
						<a href=# class ='nav-arrow-right' id='montage-next'></a>
					</div>

					<div class='thumbs-category' id='animation'>
						<a href=# class ='nav-arrow-left' id='animation-prev'></a>
						<div class="thumbs">
							<div class='cycle-slideshow'
							data-cycle-fx=carousel
							data-cycle-carousel-visible=3
							data-cycle-slides=".thumbnail"
							data-cycle-timeout=0
							data-cycle-pager-template="<span></span>"
							data-cycle-next="#animation-next"
							data-cycle-prev="#animation-prev">
								<div class="cycle-pager"></div>

								<% @animation.each do |clip| %>
									<div class="thumbnail">
										<%= image_tag clip["thumbnail_large"], {:id => clip["id"], :description => clip["description"], :title => clip["title"], :alt => clip["title"]}%>
										<h4 class="overlay"><%=clip["title"]%></h4>
									</div>
								<% end %>
							</div>
						</div>
						<a href=# class ='nav-arrow-right' id='animation-next'></a>
					</div>
				</div>
			</div>

			<div id="print-container">
				
			</div>
			<div id="about-container">
				<!-- <div id="loading-image"></div> -->
			</div>
			<div id="reel-container">
				<div class="reel-box">
					<iframe src="http://player.vimeo.com/video/<%= @reel.first["id"] %>"
						width="768" height="432" style="border: 0px;" 
						webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
					</iframe>
				</div>
				<div class='words'>
					<div class="reel-brief">
						<h5 class="shit" description="<%= @reel.first["description"]%>"><%= @reel.first["description"].html_safe%></h5>
					</div>
				</div>
			</div>
			<div id="contact-container">
				<div class="contact-box">
					<div class="form-box">
						<div class="address">
						<h3>designWELL</h3>
						<h5>1633 Market Street #5f</h5>
						<h5>San Francisco, CA 94103</h5>
						<h5>510-407-7121</h5>
						</div>
					</div>
				</div>
				<div class='words'>
					<div class="contact-brief">
						<h3>graphics for moving pictures</h3>		
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(".slideshow").cycle();

			// $(document).ajaxStart(function() {
  	// 			$("#loading-image").show();
			// });
			// $(document).ajaxStop(function() {
  	// 			$("#loading-image").hide();
			// });
			$.ajax({
            	url: "/print",
            	cache: false,
            	success: function(html){$("#print-container").append(html)}
      		});

      		$.ajax({
            	url: "/about",
            	cache: false,
            	success: function(html){$("#about-container").append(html)}
      		});
      		
			$(".titles-button").click(function(){
				$('#titles, #animation, #montage').fadeOut(300);
				$('#titles').delay(300).fadeIn(600);
				$("div.motion-title h3").html("<%=@titleInfo['name']%>").nl2br();
				$("div.video-brief p").html("<%=@titleInfo['description']%>").html_safe.nl2br();
			});
			$(".animation-button").click(function(){
				$('#titles, #animation, #montage').fadeOut(300);
    			$('#animation').delay(300).fadeIn(600);
				$("div.motion-title h3").html("<%=@animationInfo['name']%>").nl2br();
				$("div.video-brief p").html("<%=@animationInfo['description']%>").html_safe.nl2br();
			});
			$(".montage-button").click(function(){
				$('#titles, #animation, #montage').fadeOut(300);
    			$('#montage').delay(300).fadeIn(600);
				$("div.motion-title h3").html("<%=@montageInfo['name']%>").nl2br();
				$("div.video-brief p").html("<%=@montageInfo['description']%>").html_safe.nl2br();
			});

			

		</script>	
	</body>
</html>


	