<!DOCTYPE html>
	<head>
		<TITLE>Design Well</TITLE>
		<%= favicon_link_tag 'favicon.ico' %>
		<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
	</head>
	<body>

				<div class='category-title'>
					<div class="shadow-box">
						<h3><%= @poster.photo{}.first["title"]%></h3>
					</div>
				</div>
				<div class='photo-stage'>
					<div class='dark-box'>
						<img src="<%= FlickRaw.url_b(@poster.photo{}.first) %>" style="max-height: 432px;" onload="OnImageLoad(evt);"/>
					</div>
				</div>

				<div class='words'>
					<div class="photo-brief">
						<p><%= @posterInfo.description%></p>
					</div>
				</div>

				<div class='thumbs-container'>

					<div class='thumbs-category' id='posters'>
						<a href=# class ='nav-arrow-left' id='posters-prev'></a>
						<div class="thumbs">
							<div class='cycle-slideshow'
							data-cycle-fx=carousel
							data-cycle-carousel-visible=3
							data-cycle-slides=".thumb-box"
							data-cycle-timeout=0
							data-cycle-pager-template="<span></span>"
							data-cycle-next="#posters-next"
							data-cycle-prev="#posters-prev">
								<div class="cycle-pager"></div>

								<% @poster.photo{}.each do |photo| %>
									<div class='thumb-box'>
										<%= image_tag FlickRaw.url_b(photo), {:class => "photo-thumb", :id => photo["id"],:title => photo["title"], :description => flickr.photos.getInfo(:photo_id => photo["id"]).description, :alt => photo["title"]}%>
									</div>
								<% end %>
							</div>
						</div>
						<a href=# class ='nav-arrow-right' id='posters-next'></a>
					</div>

					<div class='thumbs-category' id='collateral'>
						<a href=# class ='nav-arrow-left' id='collateral-prev'></a>
						<div class="thumbs">
							<div class='cycle-slideshow'
							data-cycle-fx=carousel
							data-cycle-carousel-visible=3
							data-cycle-slides=".thumb-box"
							data-cycle-timeout=0
							data-cycle-pager-template="<span></span>"
							data-cycle-next="#collateral-next"
							data-cycle-prev="#collateral-prev">
								<div class="cycle-pager"></div>

								<% @collateral.photo{}.each do |photo| %>
									<div class='thumb-box'>
										<%= image_tag FlickRaw.url(photo), {:class => "photo-thumb", :id => photo["id"],:title => photo["title"], :description => flickr.photos.getInfo(:photo_id => photo["id"]).description, :alt => photo["title"]}%>
									</div>
								<% end %>
							</div>
						</div>
						<a href=# class ='nav-arrow-right' id='collateral-next'></a>
					</div>					
				</div>



	</body>
</html>


