<!DOCTYPE html>
	<head>
		<TITLE>Design Well</TITLE>
		<%= favicon_link_tag 'favicon.ico' %>
		<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
	</head>
	<body>

				<div class="clients-container" id="clients">
					<div class='category-title'>
						<div class="title-box">
							<h3>Clients</h3>
						</div>
					</div>
					<div class="company-box">
						<% @client.photo{}.each do |photo| %>
							<%= link_to "http://www." + flickr.photos.getInfo(:photo_id => photo["id"]).description + "", :target => "_blank"  do%>
									<div class="company">
										<%= image_tag FlickRaw.url_m(photo), {:class => "company-logo", :id => photo["id"],:title => photo["title"], :description => flickr.photos.getInfo(:photo_id => photo["id"]).description, :alt => photo["title"]}%>
										<div class="company-description">
											<h5><%= photo["title"]%></h5>
										</div>
									</div>
							<% end %>
						<% end %>
					</div>
					
				</div>

				<div class="affiliations-container" id="affiliations">
					<div class='category-title'>
						<div class="title-box">
							<h3>Affiliations</h3>
						</div>
					</div>
					<div class="company-box">
						<% @affiliation.photo{}.each do |photo| %>
							<%= link_to "http://www." + flickr.photos.getInfo(:photo_id => photo["id"]).description + "", :target => "_blank"  do%>
									<div class="company">
										<%= image_tag FlickRaw.url_m(photo), {:class => "company-logo", :id => photo["id"],:title => photo["title"], :description => flickr.photos.getInfo(:photo_id => photo["id"]).description, :alt => photo["title"]}%>
										<div class="company-description">
											<h5><%= photo["title"]%></h5>
										</div>
									</div>
							<% end %>
						<% end %>
					</div>
					
				</div>


	</body>
</html>