<!DOCTYPE html>
	<head>
		<TITLE>Design Well</TITLE>
		<%= favicon_link_tag 'favicon.ico' %>
		<!-- <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'> -->
	</head>
	<body>
		<div id="about-container">
			<div class="staff-container" id="staff">
				<div class='category-title'>
					<div class="title-box">
						<h3>Meet some of the team at designWELL</h3>
					</div>
				</div>
				<div class="employee-box">
					<%= image_tag "joe_sikoryak.jpg", :class => "employee-photo",:alt => "Joe Sikoryak (creative director)" %>
					<h1 class="employee-name">Joe Sikoryak (creative director)</h1>
					<p class="employee-bio">...has roots in NYC but lives in San Francisco, with a sensibility that spans east and west coasts, as well as traditional and digital media. His career began in journalism and graphic design, but moving pictures remain his passion. A graduate of SFSU with a BA in animation, he has directed several short films and contributed to many more. He also moderates the Documentary Filmmakers' Collective, a group formed in 2013.</p>
					</div>
					<div class="employee-box">
						<%= image_tag "kay_marshall.jpg", :class => "employee-photo",:alt => "Kay Marshall (graphic designer)" %>
						<h1 class="employee-name">Kay Marshall (graphic designer)</h1>
						<p class="employee-bio">...has worked for a variety of businesses and non-profits as an independent as well as a corporate art director. Her specialties include print and digital publications such as magazines, books, catalogs and media kits. She has a fine arts degree from the University of Wisconsin, Madison and continues to produce monoprints and abstract paintings in her home studio.</p>
					</div>
					<div class="employee-box">
						<%= image_tag "frank_dewald.jpg", :class => "employee-photo",:alt => "Frank DeWald (editorial consultant)" %>
						<h1 class="employee-name">Frank DeWald (editorial consultant)</h1>
						<p class="employee-bio">... is a choral conductor, composer and former educator who has devoted himself to working as a writer, copyeditor and proofreader in the music industry. He’s thus been able to build on a love for films and their music that started in his pre-teen years and has grown (along with his recording collection!) ever since.</p>
					</div>
			</div>		
			<div class="clients-container" id="clients">
				<div class='category-title'>
					<div class="title-box">
						<h3>Clients</h3>
					</div>
				</div>
				<div class="company-box">
					<% @client.photo{}.each do |photo| %>
						<%= link_to "http://www." + flickr.photos.getInfo(:photo_id => photo["id"]).description + "", :target => "_blank"  do%>
							<div class="company">
								<%= image_tag FlickRaw.url_m(photo), {:class => "company-logo", :id => photo["id"],:title => photo["title"], :description => flickr.photos.getInfo(:photo_id => photo["id"]).description, :alt => photo["title"]}%>
								<div class="company-description">
									<h5><%= photo["title"]%></h5>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
					
			</div>

			<div class="affiliations-container" id="affiliations">
				<div class='category-title'>
					<div class="title-box">
						<h3>Affiliations</h3>
					</div>
				</div>
				<div class="company-box">
					<% @affiliation.photo{}.each do |photo| %>
						<%= link_to "http://www." + flickr.photos.getInfo(:photo_id => photo["id"]).description + "", :target => "_blank"  do%>
							<div class="company">
								<%= image_tag FlickRaw.url_m(photo), {:class => "company-logo", :id => photo["id"],:title => photo["title"], :description => flickr.photos.getInfo(:photo_id => photo["id"]).description, :alt => photo["title"]}%>
								<div class="company-description">
									<h5><%= photo["title"]%></h5>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
				


	</body>
</html>